@page "/"
@rendermode InteractiveServer
@using System.Text.Json
@inject IJSRuntime JS
@using WebsiteDesign.Models
@using Microsoft.Extensions.Localization
@using WebsiteDesign.Locales;
@using System.Globalization




<PageTitle>@localizer["Home"]</PageTitle>

@Thread.CurrentThread.CurrentCulture;
@Thread.CurrentThread.CurrentUICulture;

<!-- ================== Top Bar ================== -->
<div class="d-flex justify-content-end p-1 bg-light">
    @if (!string.IsNullOrEmpty(loggedUsername))
    {
        <span>@localizer["Hello"], @loggedUsername!</span>
    }
</div>

<!-- ================== Carousel ================== -->
<RadzenCarousel Style="width:100%; height:700px;"
                AutoPlay="true"
                AutoPlayInterval="3000">
    <Items>
        <RadzenCarouselItem>
            <img src="/images/banner1.jpg"
                 style="width:100%; height:100%; object-fit:cover;" />
        </RadzenCarouselItem>

        <RadzenCarouselItem>
            <img src="/images/banner2.png"
                 style="width:100%; height:100%; object-fit:cover;" />
        </RadzenCarouselItem>

        <RadzenCarouselItem>
            <img src="/images/banner3.jpg"
                 style="width:100%; height:100%; object-fit:cover;" />
        </RadzenCarouselItem>
    </Items>
</RadzenCarousel>
<br >
<h4>@localizer["HomeTitle1"]</h4>
<h6>@localizer["HomeExplanation"]</h6>


@code {
    string? loggedUsername;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var userJson = await JS.InvokeAsync<string>(
                "localStorage.getItem", "loggedUser");

            if (!string.IsNullOrEmpty(userJson))
            {
                try
                {
                    var user = JsonSerializer.Deserialize<User>(userJson);
                    loggedUsername = user?.UserName;

                    StateHasChanged();
                }
                catch
                {
                    loggedUsername = null;
                }
            }
        }
    }
}
