@page "/ProductDetails/{Id:int}"
@rendermode InteractiveServer

@using WebsiteDesign.Models
@inject WebsiteDesign.Services.ProductService ProductService
@inject NavigationManager Nav

<h3>Product Details</h3>

@if (product == null)
{
    <div class="alert alert-danger">
        Product not found
    </div>
}
else
{
    <div class="card" style="max-width: 420px;">
        <img src="@product.Image ?? " /images/placeholder.png"" class="card-img-top" alt="@product.Name" />

        <div class="card-body">
            <h5>@product.Name</h5>
            <p><b>Category:</b> @product.Category</p>
            <p>@product.Description</p>
            <button class="btn btn-secondary" @onclick='() => Nav.NavigateTo("/Products")'>
                Back to Products
            </button>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    ProductModel? product;

    protected override void OnInitialized()
    {
        try
        {
            var products = ProductService.GetProducts();
            product = products.FirstOrDefault(p => p.Id == Id);
            StateHasChanged();
        }
        catch(Exception ed )
        {
            int i=0;
        }


    }
}
